<h2><img src="/images/logo-savoye.png" alt="Savoye"/></h2>
<h3><a href="http://www.savoye.com/fr/" target="_blank">savoye.com</a></h3>

<h2><img src="/images/logo-fmc.png" alt="Fmc Technologies"/></h2>
<h3><a href="http://www.fmctechnologies.com/" target="_blank">fmctechnologies.com</a></h3>


<h2><img src="/images/logo-ceric.png" alt="Ceric"/></h2>
<h3><a href="http://http://www.ceric.fr/" target="_blank">ceric.fr</a></h3>


<h2><img src="/images/logo-psa.png" alt="PSA Peugeot Citroen" /></h2>
<h3><a href="http://www.psa-peugeot-citroen.com/en/hp1.php" target="_blank">psa-peugeot-citroen.com</a></h3>


<h2><img src="/images/logo-rockwool.png" alt="Rockwool" /></h2>
<h3><a href="http://www.rockwool.pl/" target="_blank">rockwool.pl</a></h3>


<h2><img src="/images/logo-staples.png" alt="Staples" /></h2>
<h3><a href="http://www.staples.se/home.aspx" target="_blank">staples.se</a></h3>
