<div class="hero-unit">
  <div style="width:500px; float:left;" >
  <ul id="slider1">
    <li style="height:338px"><img src="images/home_page.jpg" alt="" /></li>
    <li style="height:338px"><img src="images/home_page1.jpg" alt="" /></li>
    <li style="height:338px"><img src="images/home_page2.jpg" alt="" /></li>
  </ul>
  </div>
  <section>
    Zapraszam do obejrzenienia zdjęć z moich wyjadzów zagranicznych w ramach kontraktów zawodowych z firmą <a href="http://www.realconstruct.com.pl/" traget="_blank" >realconstruct.</a>
  </section>
  <a class="btn primary large" href="/mapa">Mapa wyjazdów &raquo;</a>
  <div class="clear"></div>
  <script>
    $(function(){
    $('#slider1').bxSlider({
	mode: 'fade',
    captions: true,
    auto: true,
    controls: false
  });
});
  </script>
</div>
