<div class="hero-unit">
  <ul id="slider1">
    <li><img src="images/home_page.jpg" alt="" /></li>
    <li><img src="images/home_page1.jpg" alt="" /></li>
    <li><img src="images/home_page2.jpg" alt="" /></li>
  </ul>
  <a class="btn primary large" href="/mapa">Mapa wyjazdów &raquo;</a>
  <script>
    $(function(){
    $('#slider1').bxSlider({
	mode: 'fade',
    captions: true,
    auto: true,
    controls: false
  });
});
  </script>
</div>
